* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

table {
    width: 250px;
    text-align: center;
    margin: 10px 10px;
    border-collapse: collapse;
    float: left;
}

th {
    height: 50px;
    font-size: 24px;
}

.green_table {
    border: 2px solid rgb(118, 174, 119);
    box-shadow: 0 10px 0 rgb(118, 174, 119);
}

.green_table th {
    background-color: rgb(45, 114, 45);
    color: white;
    box-shadow: 0 10px 0 rgb(118, 174, 119);
}

.orange_table {
    border: 2px solid rgb(213, 205, 91);
    box-shadow: 0 10px 0 rgb(213, 205, 91);
}

.orange_table th {
    background-color: rgb(240, 218, 21);
    color: white;
    box-shadow: 0 10px 0 rgb(213, 205, 91);
}

.red_table {
    border: 2px solid rgb(164, 54, 54);
    box-shadow: 0 10px 0 rgb(164, 54, 54);
}

.red_table th {
    background-color: rgb(202, 37, 37);
    color: white;
    box-shadow: 0 10px 0 rgb(164, 54, 54);
}

tr td {
    height: 30px;
}

tr:first-child td {
    height: 50px;
    padding-top: 20px;
}


tr:last-child th {
    font-weight: 100;
}

tr:last-child td {
    width: 30px;
}

.container {
    border-top: 3px dotted black;
    width: 230px;
    margin: 10px auto;
}

.green_btn {
    width: 100px;
    height: 45px;
    background-color: rgb(45, 114, 45);
    line-height: 45px;
    text-transform: uppercase;
    margin: 20px auto;
}

.orange_btn {
    width: 100px;
    height: 45px;
    background-color: rgb(240, 218, 21);
    line-height: 45px;
    text-transform: uppercase;
    margin: 20px auto;
}

.red_btn {
    width: 100px;
    height: 45px;
    background-color: rgb(202, 37, 37);
    line-height: 45px;
    text-transform: uppercase;
    margin: 20px auto;
}

div [class*="btn"] a {
    color: white;
    text-decoration: none;
}